{% extends 'core/base.html' %}
{% block title %}Contato{% endblock %}
{% block content %}

<section id="contato">
    <div class="contato-container">
        <h1>Fale conosco</h1>
        <p>Você pode nos contatar por email ou redes sociais.</p>
        
        <div class="cont-redes-sociais">
        <a href="https://wa.me/seunumero" target="_blank" class="whatsapp">
            <i class="fab fa-whatsapp"></i> 61 9999-1234
        </a>
        <a href="https://instagram.com/seuperfil" target="_blank" class="instagram">
            <i class="fab fa-instagram"></i> @amigos_para_sempre
        </a>
        <a href="https://facebook.com/seuperfil" target="_blank" class="facebook">
            <i class="fab fa-facebook-f"></i> @amigos_para_sempre
        </a>
        <a href="mailto:seu@email.com" class="email">
            <i class="fas fa-envelope"></i> amigos.para.sempre@amigosparasempre.com.br
        </a>
        </div>
    </div>
</section>
{% endblock %}
