{% extends 'core/base.html' %}
{% block title %}Sobre nós{% endblock %}

{% block content %}

<section id="sobre">
  <div class="sobre-container">
    <h1>Sobre o projeto</h1>
    <p>Somos uma equipe apaixonada pelo bem-estar animal e comprometida em transformar a vida de pets e pessoas. Acreditamos que todo animal merece um lar cheio de amor, cuidado e respeito, e trabalhamos para tornar essa conexão possível.
    <h2>Missão</h2>
    <p>Promover a adoção responsável e consciente, conectando animais que buscam um lar com pessoas dispostas a oferecer carinho, proteção e uma vida digna. Queremos ser uma ponte de esperança e transformação para cada patinha que cruza nosso caminho.</p>

    <h2>Visão</h2>
    <p>Ser reconhecidos como um movimento inspirador e confiável que transforma a realidade dos animais abandonados, estimulando uma sociedade mais empática, educada e comprometida com a proteção animal em todo o país.</p>

    <h2>Valores</h2>
    <ul>
      <li>🐾<strong>Amor incondicional:</strong> Cada animal é tratado com cuidado, respeito e dedicação, como parte da família.</li>
      <li>🐾<strong>Transparência e ética:</strong> Atuamos com honestidade e clareza, sempre priorizando o melhor para os pets e adotantes.</li>
      <li>🐾<strong>Responsabilidade social:</strong> Educamos e incentivamos práticas de adoção consciente, castração e cuidados preventivos.</li>
      <li>🐾<strong>Solidariedade comunitária:</strong> Acreditamos no poder da união entre pessoas e organizações para promover o bem-estar animal.</li>
      <li>🐾<strong>Sustentabilidade e respeito:</strong> Valorizamos práticas que preservem o meio ambiente e garantam a saúde dos nossos amigos de quatro patas.</li>
    </ul>
  </div>
</section>



{% endblock %}
